body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

 #recipeCard {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 2em 1em 1em 1fr 45% 25\0%;
	border-radius:10%;
	margin:.5em;
 }
.recipeCardImage{
	grid-column: 1/2;
	grid-row: 1/5;
	max-width: 300px;
	}	
	
.recipeCardName{
	grid-column: 2/3;
	grid-row: 1/2;
	text-align: start;
	}
	
.recipeCardType{
	
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: start;
	}
	
.recipeCardCookTimeInMinutes{
	grid-column: 2/3;
	grid-row: 3/4;
	text-align: start;
	}
	
.recipeCardDescription{
	grid-column: 2/3;
	grid-row: 4/5;
	text-align: justify;
	}
	
.recipeCardIngredients{
	grid-column: 1/3;
	grid-row: 5/6;
	text-align: start;
	}
	
.recipeCardPreparationSteps{
	
	grid-area: 6/1/7/3;
	
	text-align: start;
	grid-auto-flow: dense;
	}

img.rating {
	width: 100px;
}
img.recipeImage{
	width: 100%;
	}
tr.greyed {
	background-color: #d9d9d9;
}
tr.greyed >th {
	background: white;
}

#recipeTable {
	-webkit-column-width: 300px;
	column-width: 300px;
}

#recipeTiles {
	display: inline-grid;
	max-width: 31%;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 4fr 2fr 1fr;
	background-color: #d9d9d9;
	border-radius:10%;
	margin:.5em;
}

.recipeTileImage {
	grid-column: 1/4;
	border-radius:10% 10% 0% 0%;
	max-width:auto;
	height: 250px;
	
}

.recipeName {
	grid-column: 1/4;
	grid-row: 2/3;
	background-color: #d9d9d9;
	font-size: 1.5em;
	text-align: justified;
}

.ingredients {
	grid-column: 3/4;
	grid-row: 3/4;
	
}

.stars {
	grid-column: 1/2;
	grid-row: 3/4;
	width: 5em;
	
}
